@model WebApp1.Models.Bikers

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bikers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="BikerName" class="control-label"></label>
                <input asp-for="BikerName" class="form-control" />
                <span asp-validation-for="BikerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikerSponsor" class="control-label"></label>
                <input asp-for="BikerSponsor" class="form-control" />
                <span asp-validation-for="BikerSponsor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikerCarreerWinnings" class="control-label"></label>
                <input asp-for="BikerCarreerWinnings" class="form-control" />
                <span asp-validation-for="BikerCarreerWinnings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikerLink" class="control-label"></label>
                <input asp-for="BikerLink" class="form-control" />
                <span asp-validation-for="BikerLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

